.book-panel {
  display: flex;
  height: 680px;
  width: 450px;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.book-cover {
  background-color: rgb(204, 209, 209);
  display: flex;
  width: 450px;
  height: 680px;
}

.book-cover:hover {
  height: 690px;
  width: 460px;
  transition-duration: 300ms;
  box-shadow: 10px 10px 5px lightblue;
  border-radius: 20px;
}
